@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url(../images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    position: fixed;
    width: 100%;
    z-index: 100;

.logo {
img {
    height: 45px;
}
}
.navbar-links {
ul {
    display: flex;
}
li a {
    padding: 1rem;
    color: white;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
.menu {
    position: absolute;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    display: none;
.bars {
    padding: 2px 15px;
    background-color: white;
    margin: 3px;
    transition: .5s ease-in-out;
}
}
.navbar-login {
ul {
    display: flex;
}
img {
    filter: brightness(0) invert(1);
    height: 30px;
  }
li a {
    color: white;
    padding: .5rem;
    display: block;
}

li a:hover {
    color: red;
    transition: .5s ease;
}
}
}

section {
    /* From https://css.glass */
background: rgba(7, 6, 6, 0.44);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
border: 1px solid rgba(7, 6, 6, 0.3);
height: 100vh;
}
.announcement {
    padding: 10rem 5rem 0 5rem;
h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}
p {
    color: white;
    text-align: justify;
    padding: 2rem;
    line-height: 30px;
    font-size: 20px;
}
}

@media only screen and (max-width: 768px) {
    body {
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    .menu {
        display: flex;
    }
    .menu.active .bars:nth-child(2){
        opacity: 0;
    }
    .menu.active .bars:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .menu.active .bars:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        
    }
    .navbar-links {
        width: 100%;
        background-color: white;
        position: absolute;
        top: 5.2rem;
        left: 0;
        height: 100vh;
        animation: slide 1s;
        display: none;
    
     ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
    }
    li a {
        text-align: center;
        color: black;
    }
   
    }
    .navbar-login {
        background-color: black;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 5.2rem;
        left: 0;
        display: none;
        animation: slide 1s;
    ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
        
    }
    li a {
        color: white;
        text-align: center;
        font-size: 30px;
    }
   
    }
    .navbar-links.active{
        display: flex;
    }
    .navbar-login.active{
        display: flex;
    }
    }
section {
   height: 150vh;
}
.announcement {
    padding: 10rem 0;
    
}
}
@keyframes slide {
    0% {
        transform: translateX(500px);
    }
}