@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
    url(../images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    position: fixed;
    width: 100%;
    z-index: 100;

.logo {
img {
    height: 45px;
}
}
.navbar-links {
ul {
    display: flex;
}
li a {
    padding: 1rem;
    color: white;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
.menu {
    position: absolute;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    display: none;
.bars {
    padding: 2px 15px;
    background-color: white;
    margin: 3px;
    transition: .5s ease-in-out;
}
}
.navbar-login {
ul {
    display: flex;
}
li a {
    color: white;
    padding: .5rem;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
}
section {
    height: 100vh;
}
.one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
.headings {
    h2 {
        font-family: 'Handlee' ,sans-serif;
        color: red;
        text-align: center;
    }
    h1 {
        color: white;
        font-size: 45px;
    }
}
  
    button {
        padding: 6px 20px;
        margin: 30px 5px;
        cursor: pointer;
    }
    .read {
        background-color: red;
        color: white;
        border: none;
    }
    .read:hover {
        background-color: white;
        color: red;
        transition: .5s ease;
    }
    .shop {
        background-color: transparent;
        border-color: white;
        color: white;
    }
    .shop:hover {
        background-color: white;
        color: red;
        transition: .5s ease;
    }
    p {
        color: white;
    }
}
.two {
    background-color: black;
    opacity: .5;
}
.three {
    background-color: white;
    opacity: .5;
}

footer {
    background-color: black;
    height: 50vh;
    width: 100%;
.con-logo {
    img {
        height: 30px;
        margin: 1rem;
    }
}
}

@media only screen and (max-width: 768px) {
    body {
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    .menu {
        display: flex;
    }
    .menu.active .bars:nth-child(2){
        opacity: 0;
    }
    .menu.active .bars:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .menu.active .bars:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        
    }
    
    .navbar-links {
        width: 100%;
        background-color: white;
        position: absolute;
        top: 5.2rem;
        left: 0;
        height: 100vh;
        animation: slide 1s;
        display: none;
    
     ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
    }
    li a {
        text-align: center;
        color: black;
    }
   
    }
    .navbar-login {
        background-color: black;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 5.2rem;
        left: 0;
        display: none;
        animation: slide 1s;
    ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
        
    }
    li a {
        color: white;
        text-align: center;
    }
    }
    .navbar-links.active{
        display: flex;
    }
    .navbar-login.active{
        display: flex;
    }
    }
section {
     h1 {  
        text-align: center;
    }
}


@media only screen and (max-width: 400px) {
    .logo {
        img {
            width: 180px;
        }
    }
    section {
       .headings {
        h2 {
            font-size: 20px;
        }
        h1 {
            padding: 0 1rem;
        }
       }
        
    }
}
@media only screen and (max-width: 350px) {
    section {
       .headings {
        margin-top: 5rem;
        h2 {
            font-size: 15px;
        }
        h1 {
            padding: 0;
        }
       }
        
    }
}


@keyframes slide {
    0% {
        transform: translateX(500px);
    }
}
}