@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav .logo img {
  height: 45px;
}
nav .navbar-links ul {
  display: flex;
}
nav .navbar-links li a {
  padding: 1rem;
  color: white;
  display: block;
}
nav .navbar-links li a:hover {
  color: red;
  transition: 0.5s ease;
}
nav .menu {
  position: absolute;
  flex-direction: column;
  top: 1rem;
  right: 1rem;
  display: none;
}
nav .menu .bars {
  padding: 2px 15px;
  background-color: white;
  margin: 3px;
  transition: 0.5s ease-in-out;
}
nav .navbar-login ul {
  display: flex;
}
nav .navbar-login li a {
  color: white;
  padding: 0.5rem;
  display: block;
}
nav .navbar-login li a:hover {
  color: red;
  transition: 0.5s ease;
}

section {
  height: 100vh;
  width: 100%;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}
.one .headings h2 {
  font-family: "Handlee", sans-serif;
  color: red;
  text-align: center;
}
.one .headings h1 {
  color: white;
  font-size: 45px;
}
.one button {
  padding: 10px 30px;
  margin: 30px 5px;
  cursor: pointer;
}
.one .shop {
  background-color: red;
  border: none;
  color: white;
  border-radius: 15px;
}
.one .shop:hover {
  background-color: white;
  color: red;
  transition: 0.5s ease;
}
.one p {
  color: white;
}

.two {
  background: rgba(63, 42, 42, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(63, 42, 42, 0.3);
  padding-bottom: 50rem;
}
.two .product-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding-top: 6rem;
}
.two .product-wrapper h1 {
  font-size: 35px;
  padding: 1rem 0;
}
.two .product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem 15rem;
}
.two .product-container .products {
  border: solid white 3px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 15px;
  background-color: black;
  font-size: 15px;
}
.two .product-container .products img {
  height: 150px;
  border-radius: 15px;
}
.two .product-container .products h2 {
  padding: 2rem 0;
}
.two .product-container .products .add {
  padding: 5px 20px;
  margin: 1rem 0;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}
.two .product-container .products span {
  padding-left: 1rem;
  font-size: 20px;
  font-weight: bold;
}
.two .product-container .products .add:hover {
  background-color: white;
  color: red;
  cursor: pointer;
  transition: 0.5s ease;
}

.three {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
}
.three .three-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0;
}
.three .three-container h1 {
  padding: 1rem;
}
.three .three-container p {
  width: 50%;
  text-align: justify;
  font-size: 20px;
}

.four {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
}
.four p {
  color: red;
}
.four h1 {
  color: white;
}
.four .form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20rem;
  gap: 1rem;
}
.four .form-container input {
  padding: 15px 50px 15px 10px;
  border: solid white 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  color: white;
}
.four .form-container input::-moz-placeholder {
  color: white;
}
.four .form-container input:-ms-input-placeholder {
  color: white;
}
.four .form-container input::placeholder {
  color: white;
}
.four .message-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.four .message-box input {
  padding: 10px 200px 150px 10px;
  margin: 2rem 0;
  background-color: black;
  border: solid white 2px;
  border-radius: 15px;
  color: white;
}
.four .message-box input::-moz-placeholder {
  color: white;
}
.four .message-box input:-ms-input-placeholder {
  color: white;
}
.four .message-box input::placeholder {
  color: white;
}
.four .message-box button {
  padding: 10px 50px;
  border-radius: 15px;
  background-color: red;
  color: white;
}
.four .message-box button:hover {
  background-color: white;
  color: red;
  transition: 0.5s ease;
  cursor: pointer;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  width: 100%;
  color: white;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 15rem;
  gap: 2rem;
}
footer .container .con-logo {
  line-height: 30px;
}
footer .container .con-logo img {
  height: 30px;
  margin: 1rem 0;
}
footer .container .con-logo p {
  font-size: 15px;
}
footer .container .contact h1 {
  font-size: 20px;
}
footer .container .contact img {
  filter: brightness(0) invert(1);
  height: 30px;
}
footer .container .contact ul {
  padding: 2rem 0;
}
footer .container .contact .contact-phone {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
footer .container .contact .contact-email {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
footer .container .contact .contact-location {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
footer .footer-line {
  padding: 1px;
  background-color: white;
  flex-direction: column;
  width: 90%;
  position: relative;
  left: 5rem;
}
footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}
footer .icons img {
  filter: brightness(0) invert(1);
  height: 30px;
}
footer .icons p {
  color: white;
  padding: 1rem 0;
}

@media only screen and (max-width: 1024px) {
  .two .product-wrapper .product-container {
    gap: 0;
  }
  footer .con-logo {
    font-size: 12px;
  }
  footer .contact {
    font-size: 12px;
  }
}
@media only screen and (max-width: 820px) {
  .two .product-wrapper .product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  footer .footer-line {
    width: 75%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .menu {
    display: flex;
  }
  nav .menu.active .bars:nth-child(2) {
    opacity: 0;
  }
  nav .menu.active .bars:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  nav .menu.active .bars:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  nav .navbar-links {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 5.2rem;
    left: 0;
    height: 100vh;
    -webkit-animation: slide 1s;
            animation: slide 1s;
    display: none;
  }
  nav .navbar-links ul {
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
  }
  nav .navbar-links li a {
    text-align: center;
    color: black;
  }
  nav .navbar-login {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 5.2rem;
    left: 0;
    display: none;
    -webkit-animation: slide 1s;
            animation: slide 1s;
  }
  nav .navbar-login ul {
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
  }
  nav .navbar-login li a {
    color: white;
    text-align: center;
  }
  nav .navbar-links.active {
    display: flex;
  }
  nav .navbar-login.active {
    display: flex;
  }
  nav .announcement {
    position: absolute;
    right: 5rem;
    top: 1.2rem;
    flex-direction: column;
  }
  .announcement-card {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 5.2rem;
    left: 0;
  }
  .one h1 {
    text-align: center;
  }
  .two {
    padding-bottom: 125rem;
  }
  .two .product-wrapper .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .three .three-container {
    padding: 2rem;
  }
  .three .three-container p {
    font-size: 18px;
    width: 100%;
  }
  .four {
    padding: 30rem 0 20rem 0;
  }
  .four .form-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  .four .form-container input {
    padding: 15px 100px 15px 10px;
  }
  .four .message-box input {
    padding: 10px 100px 150px 10px;
  }
  .four .message-box button {
    margin-bottom: 15rem;
  }
  footer .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
  footer .container .information {
    margin: 0;
  }
  footer .footer-line {
    left: 2rem;
    width: 90%;
  }
  footer .icons {
    padding: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .logo img {
    width: 180px;
  }
  .headings h2 {
    font-size: 20px;
  }
  .headings h1 {
    padding: 0 1rem;
  }
  section {
    width: 100%;
  }
  .two {
    padding: 1rem 0 130rem 0;
  }
  .two .product-wrapper h1 {
    text-align: center;
  }
  .three {
    padding: 1rem 0 55rem 0;
  }
  .four .form-container input {
    padding: 10px 15px;
  }
  .four .message-box input {
    padding: 10px 100px 200px 10px;
  }
  footer .footer-line {
    left: 1rem;
    width: 90%;
  }
}
@media only screen and (max-width: 320px) {
  section .headings {
    margin-top: 5rem;
  }
  section .headings h2 {
    font-size: 15px;
  }
  section .headings h1 {
    padding: 0;
  }
  .two {
    padding: 0 0 110rem 0;
  }
  .two .product-wrapper h1 {
    text-align: center;
  }
  .two .product-wrapper .product-container {
    margin: 0 2rem;
  }
  .two .product-wrapper .product-container .products {
    font-size: 12px;
  }
  .two .product-wrapper .product-container .products img {
    height: 160px;
  }
  .three {
    padding: 5rem 0 60rem 0;
  }
  .four {
    padding: 30rem 0 15rem 0;
  }
  .four .message-box input {
    padding: 20px 100px 100px 10px;
  }
  footer .contact {
    font-size: 15px;
  }
}
@media only screen and (max-width: 280px) {
  footer {
    font-size: 10px;
  }
  .two {
    padding: 1rem 0 110rem 0;
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(500px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(500px);
  }
}
@-webkit-keyframes announcement {
  0% {
    transform: translateX(500px);
  }
}
@keyframes announcement {
  0% {
    transform: translateX(500px);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */