@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
    url(../images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    position: fixed;
    width: 100%;
    z-index: 100;

.logo {
img {
    height: 45px;
}
}
.navbar-links {
ul {
    display: flex;
}
li a {
    padding: 1rem;
    color: white;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
.menu {
    position: absolute;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    display: none;
.bars {
    padding: 2px 15px;
    background-color: white;
    margin: 3px;
    transition: .5s ease-in-out;
}
}
.navbar-login {
ul {
    display: flex;
}
li a {
    color: white;
    padding: .5rem;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
}
section {
    height: 100vh;
    width: 100%;
}
.one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
.headings {
    h2 {
        font-family: 'Handlee' ,sans-serif;
        color: red;
        text-align: center;
    }
    h1 {
        color: white;
        font-size: 45px;
    }
}
  
    button {
        padding: 6px 20px;
        margin: 30px 5px;
        cursor: pointer;
    }
    .read {
        background-color: red;
        color: white;
        border: none;
    }
    .read:hover {
        background-color: white;
        color: red;
        transition: .5s ease;
    }
    .shop {
        background-color: transparent;
        border-color: white;
        color: white;
    }
    .shop:hover {
        background-color: white;
        color: red;
        transition: .5s ease;
    }
    p {
        color: white;
    }
}
.two {
    background-color: rgba(0, 0, 0, 0.5);

}
.three {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
        color: red;
    }
    h1 {
        color: white;
    }
    .form-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20rem;
        gap: 1rem;
        padding: 1rem 0;
    input {
        padding: 15px 50px 15px 10px;
        border: solid white 2px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        color: white;
    }
    input::placeholder {
        color: white;
    }
    }
    .message-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        input {
            padding: 10px 290px 150px 10px;
            margin: 2rem 0;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            border-radius: 15px;
            color: white;
        }
        input::placeholder {
            color: white;
        }
        button {
            padding: 10px 50px;
            border-radius: 15px;
            background-color: red;
            color: white;
        }
        button:hover {
            background-color: white;
            color: red;
            transition: .5s ease;
            cursor: pointer;
        }
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    width: 100%;
    color: white;
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 15rem;
    gap: 2rem;  

    .con-logo {
        line-height: 30px;
        img {
            height: 30px;
            margin: 1rem 0;
        }
        
        p {
            font-size: 15px;
        }
    }
  
    
    .information {
        margin: 0 5rem;
        h1 {
            font-size: 20px;
        }
        ul {
            padding: 1rem 0;
        }
        li a {
            color: white;
        }
        li a:hover {
            color: red;
            transition: .5s ease-in-out;
        }
        li {
            padding: .5rem;
        }
    }
    
    .contact {
        h1 {
            font-size: 20px;
        }
        img {
            filter: brightness(0) invert(1);
            height: 30px;
          }
          ul {
        padding: 2rem 0;

          }
        .contact-phone {
            display: flex;
            gap: 1rem;
        padding: .5rem 0;

        }
        .contact-email {
            display: flex;
            gap: 1rem;
        padding: .5rem 0;

        }
        .contact-location {
            display: flex;
            gap: 1rem;
        padding: .5rem 0;

        }
    }
    .icons {

      img {
        filter: brightness(0) invert(1);
        height: 30px;
      }
      p {
        color: white;
        padding: 1rem 0;
      }
    }
}
}

@media only screen and (max-width: 768px) {
    body {
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    .menu {
        display: flex;
    }
    .menu.active .bars:nth-child(2){
        opacity: 0;
    }
    .menu.active .bars:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .menu.active .bars:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        
    }
    .navbar-links {
        width: 100%;
        background-color: white;
        position: absolute;
        top: 5.2rem;
        left: 0;
        height: 100vh;
        animation: slide 1s;
        display: none;
    
     ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
    }
    li a {
        text-align: center;
        color: black;
    }
   
    }
    .navbar-login {
        background-color: black;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 5.2rem;
        left: 0;
        display: none;
        animation: slide 1s;
    ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
        
    }
    li a {
        color: white;
        text-align: center;
    }
    }
    .navbar-links.active{
        display: flex;
    }
    .navbar-login.active{
        display: flex;
    }
    }
.one {
    h1 {  
        text-align: center;
     }
}
.three {
    .form-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;

        input {
            padding: 15px 150px 15px 10px;
        }
    }
    .message-box {
        input {
            padding: 10px 200px 150px 10px;
        }
        button {
            margin-bottom: 15rem;
        }
    }
}
footer {
.container {
     grid-template-columns: repeat(1, 1fr);
     gap: 1rem;
     padding: 1rem;
     .information {
        margin: 0;
    }
    }
 
}
}


@media only screen and (max-width: 400px) {
    .logo {
        img {
            width: 180px;
        }
    }
    .headings {
        h2 {
            font-size: 20px;
        }
        h1 {
            padding: 0 1rem;
        }
       }
       section {
        width: 100%;
       }
    .three {
        .form-container {
            input {
                padding: 10px 15px;
            }
        }
    .message-box {
        input {
            padding: 10px 150px 200px 10px;
        }
    }
    }
   
}
@media only screen and (max-width: 320px) {
    section {
       .headings {
        margin-top: 5rem;
        h2 {
            font-size: 15px;
        }
        h1 {
            padding: 0;
        }
       }
    }
    .three {
        .message-box {
            input {
                padding: 20px 100px 100px 10px;
            }
        }
       }
}

@media only screen and (max-width: 280px) {
    footer {
        font-size: 10px;
    }
}

@keyframes slide {
    0% {
        transform: translateX(500px);
    }
}
