@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)),
    url(../images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
.logo {
img {
    height: 45px;
}
}
.navbar-links {
ul {
    display: flex;
}
li a {
    padding: 1rem;
    color: white;
    display: block;
}
}
.menu {
    position: absolute;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    display: none;
.bars {
    padding: 2px 15px;
    background-color: white;
    margin: 3px;
}
}
}

/*
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.one {
    background-color: black;
}
.two {
    background-color: orange;
}
.three {
    background-color: teal;
}
*/
@media only screen and (max-width: 768px) {
    body {
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    .menu {
        display: flex;
    }
    .navbar-links {
        width: 100%;
        background-color: black;
        position: absolute;
        top: 5.2rem;
        left: 0;
        height: 100vh;
        animation: slide 1s;
        display: none;
    ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
    }
    li a {
        text-align: center;
    }
    }
    .navbar-links.active{
        display: flex;
    }
    }
}
@keyframes slide {
    0% {
        transform: translateX(500px);
    }

}