@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
    url(../images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    position: fixed;
    width: 100%;
    z-index: 100;

.logo {
img {
    height: 45px;
}
}
.navbar-links {
ul {
    display: flex;
}
li a {
    padding: 1rem;
    color: white;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
.menu {
    position: absolute;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    display: none;
.bars {
    padding: 2px 15px;
    background-color: white;
    margin: 3px;
    transition: .5s ease-in-out;
}
}
.navbar-login {
ul {
    display: flex;
}
li a {
    color: white;
    padding: .5rem;
    display: block;
}
li a:hover {
    color: red;
    transition: .5s ease;
}
}
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    animation: fadeIn 2s forwards;

}
.one {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;
    h1 {
        font-size: 35px;
        padding: 10rem 0 0 0;
        text-align: center;
        color: white;
    }
    .product-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        padding-top: 6rem;
    
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem 5rem;
    .products {
        border: solid white 3px;
        padding: .5rem;
        text-align: center;
        border-radius: 15px;
        background-color: black;
        font-size: 15px;
        img {
            height: 150px;
            border-radius: 15px;
        }
    h2 {
        padding: 2rem 0;
    }
    input {
        padding: 5px;
        border-radius: 15px;
    }
    .add {
        padding: 5px 10px;
        margin: 1rem 0;
        border-radius: 15px;
        background-color: red;
        color: white;
        border: none;
    }
    .add:hover {
        background-color: white;
        color: red;
        cursor: pointer;
        transition: .5s ease;
    }
    }
    }  
}
.two {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;
    
    h1 {
        font-size: 35px;
        padding: 10rem 0 0 0;
        text-align: center;
        color: white;
    }
    .product-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        padding-top: 6rem;
    
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem 5rem;
    .products {
        border: solid white 3px;
        padding: .5rem;
        text-align: center;
        border-radius: 15px;
        background-color: black;
        font-size: 15px;
        img {
            height: 150px;
            border-radius: 15px;
        }
    h2 {
        padding: 2rem 0;
    }
    input {
        padding: 5px;
        border-radius: 15px;
    }
    .add {
        padding: 5px 10px;
        margin: 1rem 0;
        border-radius: 15px;
        background-color: red;
        color: white;
        border: none;
    }
    .add:hover {
        background-color: white;
        color: red;
        cursor: pointer;
        transition: .5s ease;
    }
    }
    }  
}

.three {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;
    h1 {
        font-size: 35px;
        padding: 10rem 0 0 0;
        text-align: center;
        color: white;
    }
    .product-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        padding-top: 6rem;
    
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem 5rem;
    .products {
        border: solid white 3px;
        padding: .5rem;
        text-align: center;
        border-radius: 15px;
        background-color: black;
        font-size: 15px;
        img {
            height: 150px;
            border-radius: 15px;
        }
    h2 {
        padding: 2rem 0;
    }
    input {
        padding: 5px;
        border-radius: 15px;
    }
    .add {
        padding: 5px 10px;
        margin: 1rem 0;
        border-radius: 15px;
        background-color: red;
        color: white;
        border: none;
    }
    .add:hover {
        background-color: white;
        color: red;
        cursor: pointer;
        transition: .5s ease;
    }
    }
    }  
}
.four {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;

    h1 {
        font-size: 35px;
        padding: 10rem 0 0 0;
        text-align: center;
        color: white;
    }
    .basket-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 6rem;
        position: sticky;
        top: 0;
    }
    .basket {
        border: solid white 2px;
        color: white;
        border-radius: 15px;
        padding: 1rem 2rem;
        height: 40vh;
        width: 60%;
    .pickup {
        padding: 5px 20px;
        border: solid white 1px;
        margin: 1rem;
        border-radius: 15px;

    }
    .delivery {
        padding: 5px 20px;
        border: solid white 1px;
        margin: 1rem;
        border-radius: 15px;
    }
    .checkout {
        padding: 5px 20px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 15px;
        margin: 1rem;
    }
    .checkout:hover {
        background-color: white;
        color: red;
        transition: .5s ease;
        cursor: pointer;
    }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    .menu {
        display: flex;
    }
    .menu.active .bars:nth-child(2){
        opacity: 0;
    }
    .menu.active .bars:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .menu.active .bars:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        
    }
    .navbar-links {
        width: 100%;
        background-color: white;
        position: absolute;
        top: 5.2rem;
        left: 0;
        height: 100vh;
        animation: slide 1s;
        display: none;
    
     ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
    }
    li a {
        text-align: center;
        color: black;
    }
   
    }
    .navbar-login {
        background-color: black;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 5.2rem;
        left: 0;
        display: none;
        animation: slide 1s;
    ul {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
        
    }
    li a {
        color: white;
        text-align: center;
    }
    }
    .navbar-links.active{
        display: flex;
    }
    .navbar-login.active{
        display: flex;
    }
    }
    main {
        grid-template-columns: repeat(1, 1fr);
    }
    .one {
        padding-bottom: 1rem;
        .product-wrapper {
        .product-container {
            grid-template-columns: repeat(1, 1fr);
        }
        }
    }
    .two {
        padding-bottom: 1rem;
        .product-wrapper {
        .product-container {
            grid-template-columns: repeat(1, 1fr);
        }
        }
    }
    .three {
        padding-bottom: 1rem;
        .product-wrapper {
        .product-container {
            grid-template-columns: repeat(1, 1fr);
        }
        }
    }
    .four {
        padding-bottom: 10rem;
    .basket-wrapper {
    .basket {
        width: 80%;
    }
    }
}
}


@media only screen and (max-width: 320px) {
    
    .one {
        padding: 0 0 1rem 0;
        .product-wrapper {
            h1 {
                text-align: center;
            }
            .product-container {
                margin: 0 2rem;
            .products {
                img {
                    height: 160px;
                }
                font-size: 12px;
            }
            }
        }
    }
    .two {
        padding: 0 0 1rem 0;
        .product-wrapper {
            h1 {
                text-align: center;
            }
            .product-container {
                margin: 0 2rem;
            .products {
                img {
                    height: 160px;
                }
                font-size: 12px;
            }
            }
        }
    }
    .three {
        padding: 0 0 1rem 0;
        .product-wrapper {
            h1 {
                text-align: center;
            }
            .product-container {
                margin: 0 2rem;
            .products {
                img {
                    height: 160px;
                }
                font-size: 12px;
            }
            }
        }
    }
    .four {
        padding: 0 0 10rem 0;
    .basket-wrapper {
    .basket {
        padding: 10px;
        height: 70vh;
    p {
        text-align: center;
    }
    }
    }
    }
}

@keyframes slide {
    0% {
        transform: translateX(500px);
    }
}
@keyframes fadeIn {

    from{
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
