@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav .logo img {
  height: 45px;
}
nav .navbar-links ul {
  display: flex;
}
nav .navbar-links li a {
  padding: 1rem;
  color: white;
  display: block;
}
nav .navbar-links li a:hover {
  color: red;
  transition: 0.5s ease;
}
nav .menu {
  position: absolute;
  flex-direction: column;
  top: 1rem;
  right: 1rem;
  display: none;
}
nav .menu .bars {
  padding: 2px 15px;
  background-color: white;
  margin: 3px;
  transition: 0.5s ease-in-out;
}
nav .navbar-login ul {
  display: flex;
}
nav .navbar-login li a {
  color: white;
  padding: 0.5rem;
  display: block;
}
nav .navbar-login li a:hover {
  color: red;
  transition: 0.5s ease;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

.one {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem;
}
.one h1 {
  font-size: 35px;
  padding: 10rem 0 0 0;
  text-align: center;
  color: white;
}
.one .product-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding-top: 6rem;
}
.one .product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem 5rem;
}
.one .product-container .products {
  border: solid white 3px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 15px;
  background-color: black;
  font-size: 15px;
}
.one .product-container .products img {
  height: 150px;
  border-radius: 15px;
}
.one .product-container .products h2 {
  padding: 2rem 0;
}
.one .product-container .products input {
  padding: 5px;
  border-radius: 15px;
}
.one .product-container .products .add {
  padding: 5px 10px;
  margin: 1rem 0;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}
.one .product-container .products .add:hover {
  background-color: white;
  color: red;
  cursor: pointer;
  transition: 0.5s ease;
}

.two {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem;
}
.two h1 {
  font-size: 35px;
  padding: 10rem 0 0 0;
  text-align: center;
  color: white;
}
.two .product-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding-top: 6rem;
}
.two .product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem 5rem;
}
.two .product-container .products {
  border: solid white 3px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 15px;
  background-color: black;
  font-size: 15px;
}
.two .product-container .products img {
  height: 150px;
  border-radius: 15px;
}
.two .product-container .products h2 {
  padding: 2rem 0;
}
.two .product-container .products input {
  padding: 5px;
  border-radius: 15px;
}
.two .product-container .products .add {
  padding: 5px 10px;
  margin: 1rem 0;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}
.two .product-container .products .add:hover {
  background-color: white;
  color: red;
  cursor: pointer;
  transition: 0.5s ease;
}

.four {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem;
}
.four h1 {
  font-size: 35px;
  padding: 10rem 0 0 0;
  text-align: center;
  color: white;
}
.four .basket-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.four .basket {
  border: solid white 2px;
  color: white;
  border-radius: 15px;
  padding: 1rem 2rem;
  height: 40vh;
  width: 60%;
}
.four .basket .pickup {
  padding: 5px 20px;
  border: solid white 1px;
  margin: 1rem;
  border-radius: 15px;
}
.four .basket .delivery {
  padding: 5px 20px;
  border: solid white 1px;
  margin: 1rem;
  border-radius: 15px;
}
.four .basket .checkout {
  padding: 5px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 1rem;
}
.four .basket .checkout:hover {
  background-color: white;
  color: red;
  transition: 0.5s ease;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .menu {
    display: flex;
  }
  nav .menu.active .bars:nth-child(2) {
    opacity: 0;
  }
  nav .menu.active .bars:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  nav .menu.active .bars:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  nav .navbar-links {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 5.2rem;
    left: 0;
    height: 100vh;
    -webkit-animation: slide 1s;
            animation: slide 1s;
    display: none;
  }
  nav .navbar-links ul {
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
  }
  nav .navbar-links li a {
    text-align: center;
    color: black;
  }
  nav .navbar-login {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 5.2rem;
    left: 0;
    display: none;
    -webkit-animation: slide 1s;
            animation: slide 1s;
  }
  nav .navbar-login ul {
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
  }
  nav .navbar-login li a {
    color: white;
    text-align: center;
  }
  nav .navbar-links.active {
    display: flex;
  }
  nav .navbar-login.active {
    display: flex;
  }
  main {
    grid-template-columns: repeat(1, 1fr);
  }
  .one {
    padding-bottom: 1rem;
  }
  .one h1 {
    font-size: 30px;
  }
  .one .product-wrapper .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .two {
    padding-bottom: 1rem;
  }
  .two h1 {
    font-size: 30px;
  }
  .two .product-wrapper .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .four {
    padding-bottom: 10rem;
  }
  .four h1 {
    font-size: 30px;
  }
  .four .basket-wrapper .basket {
    width: 80%;
  }
}
@media only screen and (max-width: 320px) {
  .one {
    padding: 0 0 1rem 0;
  }
  .one .product-wrapper h1 {
    text-align: center;
  }
  .one .product-wrapper .product-container {
    margin: 0 2rem;
  }
  .one .product-wrapper .product-container .products {
    font-size: 12px;
  }
  .one .product-wrapper .product-container .products img {
    height: 160px;
  }
  .two {
    padding: 0 0 1rem 0;
  }
  .two .product-wrapper h1 {
    text-align: center;
  }
  .two .product-wrapper .product-container {
    margin: 0 2rem;
  }
  .two .product-wrapper .product-container .products {
    font-size: 12px;
  }
  .two .product-wrapper .product-container .products img {
    height: 160px;
  }
  .four {
    padding: 0 0 10rem 0;
  }
  .four .basket-wrapper .basket {
    padding: 10px;
    height: 65vh;
  }
  .four .basket-wrapper .basket p {
    text-align: center;
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(500px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(500px);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=shop.css.map */